#login-box {
    width: 500px;
    margin: 100px auto;
    border: 1px solid #999999;
    height: 340px;
    box-sizing: border-box;
    overflow: hidden;
}

#login-topo {
  width: auto;
  height: 50px;
  background-color: #B22D00;
  font-family: "Verdana", "Arial", bold;
  color: white;
  text-shadow: 1px 1px 1px black;
  text-align: center;
  line-height: 46px;
  font-weight: bold;
  font-size: 19px;
}

#login-data {
  font-size: 11px;
  font-family: Verdana, Arial;
  margin-top: 60px;
}

.login-label-usuario {
  margin-left: 50px;
  margin-right: 130px;
}

.login-input-usuario {
  border: 1px solid #999999;
  box-sizing: border-box;
  padding: 6px;
  margin-top: 3px;
  margin-left: 50px;
  margin-right: 7px;
  width: 165px;
  font-family: "Verdana", "Arial";
  font-size: 11px;
}

.login-input-senha {
  border: 1px solid #999999;
  box-sizing: border-box;
  padding: 6px;
  margin-top: 3px;
  width: 140px;
  font-family: "Verdana", "Arial";
  font-size: 11px;
}

.login-btn-acessar {
    font-family: "Verdana", "Arial";
    font-size: 11px;
    width: 90px;
    border: 1px solid #999999;
    box-sizing: border-box;
    padding: 6px;
    margin-top: 3px;
    margin-bottom: -2px;
    margin-left: 2px;
    text-align: center;
    text-shadow: 1px 1px 1px white;
    background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 24%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(24%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 24%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 24%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 24%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 24%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    cursor: pointer;
}

.login a {
    text-decoration: none;
}

.separator {
    width: 445px;
    border-bottom-style: dotted;
    border-top-style: hidden;
    margin: 75px auto;
    color: #999999;
}

footer {
    width: 500px;
    box-sizing: border-box;
    margin-top: -58px;
}

footer p {
    font-family: "Verdana", "Arial";
    line-height: 1.5;
    color: #666;
    font-size: 11px;
    text-align: center;
}

.login-btn-acessar:hover, .cadastro-btn-salvar:hover, .cadastro-btn-cancelar:hover {
    box-shadow: 0 0 1px 1px #999999;
}

.login-input-usuario:focus, .conteudo input:focus {
    box-shadow: 0 0 1px 1px #999999;
    -moz-box-shadow: 0 0 1px 1px #999999;
}

.login-input-senha:focus {
    box-shadow: 0 0 1px 1px #999999;
    -moz-box-shadow: 0 0 1px 1px #999999;
}

.pagina {
    width: 100%;
    height: 55px;
    background-color: #B22D00;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
}

.container {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.demo {
    text-transform: uppercase;
    position: absolute;
    box-sizing: border-box;
    margin-top: 12px;
    padding: 7px 28px 9px 0;
    font-family: "Verdana", "Arial";
    color: white;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    border-right: 1px solid #D93600;
    overflow: hidden;
}

.btn-localidade {
    text-decoration: none;
    font-family: "Verdana", "Arial";
    color: white;
    line-height: 55px;
    font-weight: bold;
    font-size: 12px;
    padding: 5px 10px;
    text-transform: uppercase;
    width: 70px;
    background-color: #8C2300;
    border: 1px solid #D93600;
    margin-left: 290px;
}

.seta-down {
    margin-left: 10px;
}

.linha {
    width: 100px;
    height: 40px;
    border-top-style: hidden;
    border-left-style: solid;
    color: white;
}

.btn-sair {
    float: right;
    width: 30px;
    padding: 7px;
    font-family: "Verdana", "Arial";
    color: white;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #8C2300;
    border: 1px solid #D93600;
    margin-top: 15px;
    margin-top: 15px;
}

.label-usuario {
    float: right;
    font-family: "Verdana", "Arial";
    font-size: 12px;
    color: white;
    margin-right: 15px;
    margin-top: 22px;
}

.navegacao {
    width: inherit;
    height: 40px;
    background-color: #F1F1F1;
    margin-top: 15px;
    border: 1px solid #012141;
}

.navegacao li {
    display: inline-block;
}

.nav-inicio {
    margin-top: 10px;
}

.a-inicio {
    color: #162141;
    text-decoration: none;
    font-family: "Verdana", "Arial";
    font-size: 10px;
    font-weight: bold;
    padding: 10px 11px 10px 11px;
    margin-left: 3px;
}

.nav-solicitacoes {
    margin-top: 10px;
}

.a-solicitacoes {
    color: #162141;
    text-decoration: none;
    font-family: "Verdana", "Arial";
    font-size: 10px;
    font-weight: bold;
    padding: 10px 11px 10px 11px;
    margin-left: -5px;
}

.nav-pacientes {
    margin-top: 10px;
}

.a-pacientes {
    color: #162141;
    text-decoration: none;
    font-family: "Verdana", "Arial";
    font-size: 10px;
    font-weight: bold;
    padding: 10px 11px 10px 11px;
    margin-left: -5px;
}

.nav-list-espera {
    margin-top: 10px;
}

.a-lista-espera {
    color: #162141;
    text-decoration: none;
    font-family: "Verdana", "Arial";
    font-size: 10px;
    font-weight: bold;
    padding: 10px 11px 10px 11px;
    margin-left: -5px;
}

.nav-quadro-leitos {
    margin-top: 10px;
}

.a-quadro-leitos {
    color: #162141;
    text-decoration: none;
    font-family: "Verdana", "Arial";
    font-size: 10px;
    font-weight: bold;
    padding: 10px 11px 10px 11px;
    margin-left: -5px;
    margin-right: 11px;
}

.nav-central-ambulancias {
    position: absolute;
    margin-top: 10px;
    width: 80px;
    margin-top: 6px;
    line-height: 12px;
}

.a-central-ambulancias {
    color: #162141;
    text-decoration: none;
    font-family: "Verdana", "Arial";
    font-size: 10px;
    font-weight: bold;
    padding: 10px 11px 10px 11px;
    margin-left: -5px;
}

.nav-ambulancias {
    margin-top: 10px;
}

.a-ambulancias {
    color: #162141;
    text-decoration: none;
    font-family: "Verdana", "Arial";
    font-size: 10px;
    font-weight: bold;
    padding: 10px 11px 10px 11px;
    margin-left: 82px;
    margin-right: 11px;
}

.nav-central-exames {
    position: absolute;
    margin-top: 10px;
    width: 73px;
    margin-top: 6px;
    line-height: 12px;
}

.a-central-exames {
    color: #162141;
    text-decoration: none;
    font-family: "Verdana", "Arial";
    font-size: 10px;
    font-weight: bold;
    padding: 10px 11px 10px 11px;
    margin-left: -5px;
}

.nav-relatorios {
    margin-top: 10px;
}

.a-relatorios {
    color: #162141;
    text-decoration: none;
    font-family: "Verdana", "Arial";
    font-size: 10px;
    font-weight: bold;
    padding: 10px 11px 10px 11px;
    margin-left: 76px;
    margin-right: 11px;
}

.nav-ajustes {
    margin-top: 10px;
}

.a-ajustes {
    color: #162141;
    text-decoration: none;
    font-family: "Verdana", "Arial";
    font-size: 10px;
    font-weight: bold;
    padding: 10px 11px 10px 11px;
    margin-left: 50px;
    position: absolute;
    float: right;
    top: 77px;
    right: 210px;;
}

.a-inicio:focus, .a-solicitacoes:focus, .a-pacientes:focus, .a-lista-espera:focus, .a-quadro-leitos:focus, .a-central-ambulancias:focus, .a-ambulancias:focus, .a-central-exames:focus, .a-relatorios:focus, .a-ajustes:focus {
    background-color: #B22D00;
    color: #FFFFF9;
}

.menu-resultado {
    width: 950px;
    height: 72px;
    border-top: 1px solid white;
}

.conteudo {
    width: inherit;
    border: 1px solid #999999;
}

.inicio {
    width: inherit;
    height: 322px;
    border: 1px solid #999999;
}

.boas-vindas {
    font-family: "Verdana", "Arial";
    color: #000508;
    font-size: 11px;
    text-align: center;
    margin: 150px auto;
    text-transform: uppercase;
}

.rodape {
    position: fixed;
    bottom: 0;
    width: inherit;
    height: 60px;
    background-color: #F1F1F1;
}

.rodape-texto {
    margin: 22px;
    color: #3A3A3A;
    font-size: 11px;
}

.fa-home, .fa-file-o {
    color: #B22D00;
    background-color: white;
    border: 5px solid #B22D00;
    padding: 2px 4px 2px 4px;
    margin-top: 12px;
}

.resultado-p {
    font-family: "Verdana", "Arial";
    font-size: 16px;
    margin-top: -30px;
    margin-left: 60px;
}

.fa-angle-right {
    color: #162141;
}

/* Configurações para o menu de cadastro */
.cadastro-info {
    width: 935px;
    height: 30px;
    background-color: #F0F0F0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.cadastro-info h2 {
    position: relative;
    font-family: "Verdana", "Arial";
    font-size: 11px;
    font-weight: bold;
    color: #403333;
    top: 10px;
    text-transform: uppercase;
    left: 10px;
}

.maiuscula {
    text-transform: uppercase;
}

.tabs .botao[type=radio] {
    position: absolute;
    top: -9999px; //técnica para esconder os bullets
    display: inline-block;
}

.tabs {
    float: right;
    list-style: none;
    position: relative;
    padding: 0;
    top: -6px;
}

.tabs li {
    float: left;
}

.tabs .rotulo {
    display: block;
    padding: 20px 25px;
    padding-bottom: 10px;
    border-radius: 2px 2px 0 0;
    color: #6A6666;
    font-size: 12px;
    font-weight: normal;
    font-family: "Vardana", "Arial";
    background-color: #F7F7F7;
    cursor: pointer;
    border-left: 1px solid #999999;
    border-top: 3px solid #999999;
    border-right: 1px solid #999999;
    position: relative;
    top: -11px;
}

/*
.tabs label:hover {
    background-color: black;
}
*/

[id^=tab]:checked + .rotulo {
    color: #B22D00;
    background: #FFFFFF;
    border-top: 3px solid #0099FF;
}

[id^=tab]:checked ~ [id^=tab-conteudo-banco], [id^=tab]:checked ~ [id^=tab-conteudo-cliente], [id^=tab]:checked ~ [id^=tab-conteudo-fornecedor] {
    display: inline-block;
}

.tab-conteudo-banco, .tab-conteudo-cliente, .tab-conteudo-fornecedor {
    z-index: 2;
    display: none;
    width: 950px;
    position: absolute;
    top: 33px;
    left: -657px;
    border: 1px solid #999999;
    box-sizing: border-box;
    font-family: "Verdana", "Arial";
}

.tab-conteudo-cliente {
    height: 350px;
}

.banco-container, .cliente-container {
    width: 925px;
    margin-left: 17px;
    margin-top: 12px;
    box-sizing: border-box;
    overflow: hidden;
} 

.banco-container label {
    color: #514D4D;
    font-family: "Verdana", "Arial";
    font-size: 11px;
    margin-bottom: 8px;
}

.banco-container .input-nome-banco, .input-agencia, .input-conta-corrente {
    padding: 8px;
    font-family: "Verdana", "Arial";
    font-size: 11px;
    border: 1px solid #999999;
    height: 30px;
    width: 450px;
    box-sizing: border-box;
    margin-bottom: 24px;
}

.label-nome-banco {
    display: block;
}

.input-nome-banco {
    display: block;
}

.label-agencia {
    display: block;
}
.input-agencia {           
    display: block;
}                          

.label-conta-corrente {    
    display: block;
}                          
                           
.input-conta-corrente {    
    display: block;
    margin-bottom: 35px;
}

.cadastro-btn-salvar, .cadastro-btn-cancelar {
    display: block;
    margin-right: 10px;
    position: relative;
    right: -10px;
    font-family: "Verdana", "Arial";
    font-size: 11px;
    width: 90px;
    border: 1px solid #999999;
    box-sizing: border-box;
    padding: 6px;
    text-align: center;
    text-shadow: 1px 1px 1px white;
    background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 24%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(24%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 24%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 24%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 24%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 24%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    cursor: pointer;
    float: right;
}

.cadastro-btn-salvar, .cadastro-btn-cancelar {
    margin-bottom: 12px;
}

// Final da configuração de cadastro de bancos

/* Começo da configuração de Clientes */

.tipo-cliente li {
    float: left;
}

.tipo-cliente .input-cliente[type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px;
    display: inline-block;
}

.aba-cliente {
    display: block;
    padding: 3px 8px;
    border-radius: 2px 2px 0 0;
    color: #787B81;
    font-size: 11px;
    font-weight: normal;
    font-family: Verdana, Arial;
    border: 1px solid #999999;
    border-top: 3px solid #999999;
    background-color: #F7F7F7;
    cursor: pointer;
    margin-top: 0px;
    position: relative;
}

[id^=aba]:checked + .aba-cliente {
    background-color: #FFFFFF;
    color: #B22D00;
    border-top: 3px solid #0099FF;
}

[id^=aba]:checked ~ [id^=tab-conteudo] {
    display: inline-block;
    left: 0;
}

.tab-conteudo {
    width: 925px;
    z-index: 2;
    display: none;
    position: absolute;
    box-sizing: border-box;
    margin-top: 10px; 
    margin-bottom: 10px;
    margin-left: 16px;
}

.tab-conteudo label {
    color: #514D4D;
    font-family: "Verdana", "Arial";
    font-size: 11px;
    margin-bottom: 8px;
    display: inline-block;
}

.input-nome-cliente, .input-razao-cliente, .input-cliente-cpf,.input-cliente-cnpj, .input-cliente-endereco, .input-cliente-cep, .input-cliente-telefone, .input-cliente-email {
    padding: 8px;
    font-family: "Verdana", "Arial";
    font-size: 11px;
    border: 1px solid #999999;
    height: 30px;
    width: 450px;
    box-sizing: border-box;
    margin-bottom: 8px;
}

.input-nome-cliente {
    display: block;
}

.input-razao-cliente {
    display: block;
}

.label-cliente-cpf {
    position: relative;
    float: right;
    right: 340px;
    bottom: 118px;
}

.label-cliente-cnpj {
    position: relative;
    float: right;
    right: 333px;
    bottom: 118px;
}

.input-cliente-cpf {
    display: inline-block;
    position: relative;
    width: 280px;
    float: right;
    bottom: 99px;
    right: 59px;
}

.input-cliente-cnpj {
    display: inline-block;
    position: relative;
    width: 280px;
    float: right;
    bottom: 99px;
    right: 52px;
}
.input-cliente-endereco {
    display: block;
}

.label-cliente-bairro {
    position: relative;
    float: right;
    bottom: 56px;
    right: 210px;
}

.select-bairro {
    display: inline-block;
    position: relative;
    float: right;
    border: 1px solid #999999;
    width: 200px;
    height: 30px;
    background-color: #F0F0F0;
    font-family: Verdana, Arial;
    font-size: 12px;
    right: 250px;
    bottom: 38px;
}

.label-cliente-cep {
    position: relative;
    float: right;
    right: -41px;
    bottom: 56px;
}

.input-cliente-cep {
    position: relative;
    float: right;
    width: 142px;
    right: -183px;
    bottom: 38px;
}

.label-cliente-telefone {
    position: relative;
    float: right;
    bottom: 120px;
    right: -97px;
}

.input-cliente-telefone {
    position: relative;
    float: right;
    width: 280px;
    right: -378px;
    top: -100px;
}

.input-cliente-email {
    position: relative;
    top: -15px;
}

/* Começo de configurações para nota fiscal*/
.nota-container {
    border: 1px solid #999999;
}

.botao li {
    display: inline;
    float: right;
}

.botao li a {
    display: inline-block;
    padding: 20px 25px;
    padding-bottom: 10px;
    border-radius: 2px 2px 0 0;
    color: #6A6666;
    font-size: 12px;
    font-weight: normal;
    font-family: "Vardana", "Arial";
    background-color: #F7F7F7;
    cursor: pointer;
    border-left: 1px solid #999999;
    border-top: 3px solid #999999;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    position: relative;
    top: -18px;
    text-decoration: none;
}

.botao li a.selected {
    color: #B22D00;
    background: #FFFFFF;
    border-top: 3px solid #0099FF;
    border-bottom: 1px solid transparent;
}

.container-item {
    width: 925px;
    margin-left: 17px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #999999;
    box-sizing: border-box;
}

.container-item label {
    color: #514D4D;
    font-family: "Verdana", "Arial";
    font-size: 11px;
}

.container-item input {
    padding: 8px;
    font-family: "Verdana", "Arial";
    font-size: 11px;
    border: 1px solid #999999;
    height: 30px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.input-nota-numero {
    width: 95px;
}

.input-nota-data {
    width: 85px;
}

.input-nota-serie {
    width: 48px;
}

.input-nota-cfop {
    width: 48px;
}

.input-nota-cfop2 {
    width: 280px;
}

.input-nota-fornecedor {
    width: 95px;
}

.input-nota-fornecedor-nome {
    width: 250px;
}

.label-nota-observacao {
    right: -40px;
    position: relative;
}

.input-nota-observacao {
    position: relative;
    right: 255px;
    width: 241px;
}

.select-pagamento {
    border: 1px solid #999999;
    width: 180px;
    height: 35px;
    background-color: #F0F0F0;
    font-family: Verdana, Arial;
    font-size: 12px;
    padding: 2px 0 2px 0px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-right: 15px;
    margin-bottom: 15px;
}

